@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.button {
    border: none;
    padding: 10px 30px;
}

.navbar {
    position: fixed;
    min-width: 100%;
}

.body-content {
    margin-top: 3.8rem;
}

.error {
    top: 6rem;
    right: 2rem;
}

.hero {
    height: 85vh;
    background-image: url("https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
